<%= form_with(model: custom_media_entry, local: true) do |form| %>
  <% if custom_media_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(custom_media_entry.errors.count, "error") %> prohibited this custom_media_entry from being saved:</h2>

      <ul>
      <% custom_media_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key, id: :custom_media_entry_key %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :custom_media_entry_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
