<p id="notice"><%= notice %></p>

<h1>Music</h1>

<% if @musics.any? then %>
<table>
  <thead>
    <tr>
      <th colspan = "1"></th>
      <th>Name</th>
      <th>Artist</th>
      <th>Album</th>
      <%= render :partial => 'common_params' %>
      <th>Replays</th>
      <th colspan = "3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musics.each do |music_entry| %>
      <tr>
        <td><%= link_to 'Edit', 'static_pages/addMedia' %></td>
        <td><%= music_entry.name%></td>
        <td><%= music_entry.music.artist %></td>
        <td><%= music_entry.music.album %></td>
        <%= render :partial => 'media_object', :object => music_entry %>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <p> You don't have any music! Add some here: <%= link_to 'Add Music', '../static_pages/addMedia' %><p>
<% end %>
<br>
