<%= form_with(model: follower, local: true) do |form| %>
  <% if follower.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(follower.errors.count, "error") %> prohibited this follower from being saved:</h2>

      <ul>
      <% follower.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.number_field :user, id: :follower_user %>
  </div>

  <div class="field">
    <%= form.label :fTarget %>
    <%= form.number_field :fTarget, id: :follower_fTarget %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
