<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @follower.user %>
</p>

<p>
  <strong>Ftarget:</strong>
  <%= @follower.fTarget %>
</p>

<%= link_to 'Edit', edit_follower_path(@follower) %> |
<%= link_to 'Back', followers_path %>
