<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Current Status</th>
      <th>Favorite?</th>
      <th>Score</th>
      <th>Source</th>
      <th>re-reads</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book_entry| %>
      <tr>
        <td><%= book_entry.name%></td>
        <td><%= book_entry.book.author %></td>
        <td><%= book_entry.personal_media_parameters.first.currentStatus%></td>
        <td><%= book_entry.personal_media_parameters.first.favorite%></td>
        <td><%= book_entry.personal_media_parameters.first.score%></td>
        <td><%= book_entry.personal_media_parameters.first.source%></td>
        <td><%= book_entry.personal_media_parameters.first.replay%></td>

        <td><%= link_to 'Edit', {:controller => "static_pages", :action => "editMedia", :chooseSelect => "book_form", :name => book_entry.name, :book_author => book_entry.book.author, :general => book_entry.personal_media_parameters.first.as_json} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
