<%= form_with(model: video_game, local: true) do |form| %>
  <% if video_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video_game.errors.count, "error") %> prohibited this video_game from being saved:</h2>

      <ul>
      <% video_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :studio %>
    <%= form.text_field :studio, id: :video_game_studio %>
  </div>

  <div class="field">
    <%= form.label :system %>
    <%= form.text_field :system, id: :video_game_system %>
  </div>

  <div class="field">
    <%= form.label :general_medias_id %>
    <%= form.text_field :general_medias_id, id: :video_game_general_medias_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
