<p id="notice"><%= notice %></p>
<div class = "well">
<h1>Video Games</h1>

<% if @video_games.any? then %>
      <%= render :partial => 'table_setup' %>
      <th>Name</th>
      <th>System</th>
      <th>Studio</th>
      <%= render :partial => 'common_params' %>
      <th>Replays</th>
      <th colspan = "3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_games.each do |game_entry| %>
      <tr>
        <td><%= link_to 'Edit', {:controller => "static_pages", :action => "editMedia",:chooseSelect => "video_game_form", :name => game_entry.name, :system => game_entry.video_game.system, :studio => game_entry.video_game.studio, :general => game_entry.personal_media_parameters.first.as_json, :mediaId => game_entry.id } %></td>
        <td><%= game_entry.name%></td>
        <td><%= game_entry.video_game.system %></td>
        <td><%= game_entry.video_game.studio %></td>
        <%= render :partial => 'media_object', :object => game_entry %>
        <td><%= link_to :controller => "static_pages", :action => "deleteMedia", :deleteId => game_entry.id, :deleteWhich => "video_game_form" do%>
          <button type = "button" class = "close" aria-label = "Close" style="color:red"%><span aria-hidden = "true">&times;</span> </button><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <p> You don't have any video games! Add some here: <%= link_to 'Add Video Games', '../static_pages/addMedia' %><p>
<% end %>
<br>
</div>
