<p id="notice"><%= notice %></p>

<h1>Video Games</h1>

<% if @video_games.any? then %>
<table>
  <thead>
    <tr>
      <th colspan = "1"></th>
      <th>Name</th>
      <th>System</th>
      <th>Studio</th>
      <%= render :partial => 'common_params' %>
      <th>Replays</th>
      <th colspan = "3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_games.each do |game_entry| %>
      <tr>
        <td><%= link_to 'Edit', 'static_pages/addMedia' %></td>
        <td><%= game_entry.name%></td>
        <td><%= game_entry.video_game.system %></td>
        <td><%= game_entry.video_game.studio %></td>
        <%= render :partial => 'media_object', :object => game_entry %>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <p> You don't have any video games! Add some here: <%= link_to 'Add Video Games', '../static_pages/addMedia' %><p>
<% end %>
<br>
