<!--
Updated By: Berkay Kaplan: Bootstrapped the layout, and added header.html
-->

<div id = "container">
      <div class = "well">
	      <h1 style:"display:inline;"><%= @thisUser.first_name.capitalize%> <%=  @thisUser.last_name.capitalize%></h1>
      <% if current_user.id != @thisUser.id %>
        <% if @currUserFollowers.any?{|x| x.fTarget == @thisUser.id} %>
      		<div>
		        <p></p><%= render :partial => 'followers/unfollow_form', follower: @follower %>
		      </div>
      	<% else %>
      	  <p></p><%= render :partial => 'followers/follow_form', follower: @follower %>
      	<% end %>
      <% end %>
      </div>
      <div id = "main">
        <div class = "well">
          <h3 class = "jumbotron">Your Media</h3>
            <ul>
              <li><%= link_to "Books", '/books' %></li>
              <li><%= link_to "Magazines", '/magazines' %></li>
              <li><%= link_to "Movies", '/movies' %></li>
              <li><%= link_to "Music", "/musics" %></li>
              <li><%= link_to "TV Shows", "/tv_shows" %></li>
              <li><%= link_to "Video Games", "/video_games" %></li>
              <li><%= link_to "Custom Media", "/custom_media" %></li>
            </ul>
	        <h3 class = "jumbotron">Options</h3>
	        <ul>
            <li>Click <a href="/static_pages/addMedia">here</a> to add a media</li>
            <li>Click <a href="/static_pages/preferences">here</a> to update preferences</li>
            <li><a href="/static_pages/home">home</a></li>
	        <ul>

        </div>

	      <div class = "well">
            <% if @followers != [] %>
              <h3>People <%= @thisUser.first_name.capitalize%> Follows</h3>
              <% @followers.each do |f| %>
                <%= link_to User.find(f.fTarget).username, "/users/#{f.fTarget}" %>
                <p style = "margin:1% 2%; font-size:150%;"><%= link_to User.find(f.fTarget).username, "/users/#{f.fTarget}" %><p>
              <% end %>
            <% else %>
              <h3 class = "jumbotron">Does Not Follow Anyone</h3>
            <% end %>
          </div>	
      </div>
    </div>
