<!--
Created By: Michael Radey: Show the users media, followers and recent history
  if account is public.  Otherwise only shows if the current_user is the user
  or the current_user follows this user
  
Updated By: Berkay Kaplan: Bootstrapped the layout, and added header.html

Updated By: Alyssa Langhals: Added favorites display, updated layout
-->

<div id = "container">
    <% if user_signed_in? %>
     <%= render "static_pages/header.html" %>
    <% end %>
      <div class = "well">
	      <h1 style:"display:inline;"><%= @thisUser.username%> (<%= @thisUser.first_name.capitalize%>)</h1>
              
      <% if current_user.id != @thisUser.id %>
        <% if @currUserFollowers.any?{|x| x.fTarget == @thisUser.id} %>
      		<div>
		        <%= render :partial => 'followers/unfollow_form', follower: @follower %>
		 </div>
      	<% else %>
      	  <%= render :partial => 'followers/follow_form', follower: @follower %>
      	<% end %>
      <% else %>
         <a href="/preferences">Update Preferences</a></li>
         <%= link_to "Update Info", edit_user_registration_path %></li>
      <% end %>
      </div>

      <div id = "main">
        <% if current_user.id != @thisUser.id && @privateAccount && !(@currUserFollowers.any?{|x| x.fTarget == @thisUser.id})%>
          <h3 class = "jumbotron">Private Account! Must Follow To View Content</h3>
        <% else %>
        <div class = "row">
        <div class = "well col-md-6" >
        <% if current_user.id != @thisUser.id && @privateAccount && !(@currUserFollowers.any?{|x| x.fTarget == @thisUser.id})%>
          <h3 class = "jumbotron">Private Account! Must Follow To View Content</h3>
        <% else %>
          <% if current_user.id == @thisUser.id %>
            <h3 class = "jumbotron">Your Media</h3>
          <% else %>
            <h3 class = "jumbotron"><%= @thisUser.username%>'s Media</h3>
          <% end %>
          <% if current_user.id == @thisUser.id %>
            <ul>
              <li><%= link_to "Books", '/books' %></li>
              <li><%= link_to "Magazines", '/magazines' %></li>
              <li><%= link_to "Movies", '/movies' %></li>
              <li><%= link_to "Music", "/musics" %></li>
              <li><%= link_to "TV Shows", "/tv_shows" %></li>
              <li><%= link_to "Video Games", "/video_games" %></li>
              <li><%= link_to "Custom Media", "/custom_media" %></li>
            </ul>
          <% else %>
            <% if @books.any? %>
              <h4>Books</h4>
              <% @books.each do |book| %>
                <li><%= book.name %></li>
              <% end %>
            <% end %>
            <% if @movies.any? %>
              <h4>Movies</h4>
              <% @movies.each do |movie| %>
                <li><%= movie.name %></li>
              <% end %>
            <% end %>
            <% if @musics.any? %>
              <h4>Music</h4>
              <% @musics.each do |mus| %>
                <li><%= mus.name %></li>
              <% end %>
            <% end %>
            <% if @tv_shows.any? %>
              <h4>Tv Shows</h4>
              <% @tv_shows.each do |tv| %>
                <li><%= tv.name %></li>
              <% end %>
            <% end %>
            <% if @video_games.any? %>
              <h4>Video Games</h4>
              <% @video_games.each do |vg| %>
                <li><%= vg.name %></li>
              <% end %>
            <% end %>
            <% if @custom_media.any? %>
              <h4>Custom Media</h4>
              <% @custom_media.each do |cm| %>
                <li><%= cm.custom_medium.typeOfMedia %>: <%= cm.name %></li>
              <% end %>
            <% end %>
           <% end %>
           <% end %>
        </div>
        <div class = "well col-md-6">
            <% if current_user.id == @thisUser.id %>
            <h3 class = "jumbotron">Your Favorites</h3>
          <% else %>
            <h3 class = "jumbotron"><%= @thisUser.username%>'s Favorites</h3>
          <% end %>
            <% PersonalMediaParameter.where(favorite: true).each do |media| %>	
              <% if media.users_id == current_user.id %>
                <li><%= media.general_media.name %></li>
              <% end %>
            <% end %>
          </div>
          
          </div>
          <div class="row">
	    <div class = "well col-md-4">
            <% if @followers != [] %>
              <% if current_user.id == @thisUser.id %>
                <h3 class= "jumbotron">People You Follow</h3>
              <% else %>
                <h3>People <%= @thisUser.first_name.capitalize%> Follows</h3>
              <% end %>
              <% @followers.each do |f| %>
                <p style = "margin:1% 2%; font-size:150%;"><%= link_to User.find(f.fTarget).username, "/users/#{f.fTarget}" %><p>
              <% end %>
            <% else %>
              <h3 class = "jumbotron">Does Not Follow Anyone</h3>
            <% end %>
          </div>

          <div class = "well col-md-8">

              <% if current_user.id == @thisUser.id %>
                <h3 class = "jumbotron">Your Last Actions </h3>
              <% else %>
                <h3 class = "jumbotron"><%= @thisUser.username%>'s Last Actions </h3>
                <% @historyLogs.each do |f| %>
                  <li><%= link_to User.find(f.users_id).username, "/users/#{f.users_id}"%> <%= f.historyMessage %> <%= f.updated_at %></li>
                <% end %>
              <% end %>
             
          </div>
          </div>
          <% end %>
      </div>
