<% if user_signed_in? %>
  <%= render "static_pages/header.html" %>
<% end %>
<div id = "container">
      <div class = "well">
	      <h1 style:"display:inline;"><%= @thisUser.first_name.capitalize%> <%=  @thisUser.last_name.capitalize%></h1>
      <% if current_user.id != @thisUser.id %>
        <% if @currUserFollowers.any?{|x| x.fTarget == @thisUser.id} %>
      		<div>
		        <%= render 'followers/unfollow_form', follower: @follower %>
		      </div>
      	<% else %>
      	  <%= render 'followers/follow_form', follower: @follower %>
      	<% end %>
      <% end %>
      </div>
      <div id = "main">
        <div class = "well">
          <h3 class = "jumbotron">Your Media</h3>
            <ul>
              <li><%= link_to "Books", '/books' %></li>
              <li><%= link_to "Magazines", '/magazines' %></li>
              <li><%= link_to "Movies", '/movies' %></li>
              <li><%= link_to "Music", "/music" %></li>
              <li><%= link_to "TV Shows", "/tv_shows" %></li>
              <li><%= link_to "Video Games", "/video_games" %></li>
              <li><%= link_to "Custom Media", "/custom_media" %></li>
            </ul>
	        <h3 class = "jumbotron">Options</h3>
	        <ul>
            <li>Click <a href="/static_pages/addMedia">here</a> to add a media</li>
            <li>Click <a href="/static_pages/preferences">here</a> to update preferences</li>
            <li><a href="/static_pages/home">home</a></li>
	        <ul>

        </div>

	      <div class = "well">
            <% if @followers != [] %>
              <h3>People <%= @thisUser.first_name.capitalize%> Follows</h3>
              <% @followers.each do |f| %>
                <%= User.find(f.fTarget).username %>
              <% end %>
            <% else %>
              <h3 class = "jumbotron">Does Not Follow Anyone</h3>
            <% end %>
	      <% for i in 1..@limitb do%>
	        <div class = "followers">
	          <p class = "follower"><%# @user.find(@follower[i].id).username %></p>
	        </div>
	      <% end %>
          </div>	
      </div>
    </div>
