 <div id = "container">
      <div id = "header">
	      <h1><%= @thisUser.first_name.capitalize%> <%=  @thisUser.last_name.capitalize%></h1>
      </div>
      <% if current_user.id != @thisUser.id %>
        <% if @currUserFollowers.any?{|x| x.fTarget == @thisUser.id} %>
      		<div>
		        <p>Unfollow</p><%= render 'followers/unfollow_form', follower: @follower %>
		      </div>
      	<% else %>
      	  <p>follow</p><%= render 'followers/follow_form', follower: @follower %>
      	<% end %>
      <% end %>

      <div id = "main">
        <div id = "mainArea">
          <h3>Your Media</h3>

	        <h3>Options</h3>
	        <ul>
            <li>Click <a href="/static_pages/addMedia">here</a> to add a media</li>
            <li>Click <a href="/static_pages/preferences">here</a> to update preferences</li>
            <li><a href="/static_pages/home">home</a></li>
	        <ul>

        </div>

	      <div id = "latestUpdates">
            <% if @followers != [] %>
              <h3>People <%= @thisUser.first_name.capitalize%> Follows</h3>
              <% @followers.each do |f| %>
                <%= User.find(f.fTarget).username %>
              <% end %>
            <% else %>
              <h3>Does Not Follow Anyone</h3>
            <% end %>
	      <% for i in 1..@limitb do%>
	        <div class = "followers">
	          <p class = "follower"><%# @user.find(@follower[i].id).username %></p>
	        </div>
	      <% end %>
          </div>	
      </div>
    </div>
