<p id="notice"><%= notice %></p>

<h1>Scores</h1>

<table>
  <thead>
    <tr>
      <th>Currentstatus</th>
      <th>Favorite</th>
      <th>Comments</th>
      <th>Source</th>
      <th>Replay</th>
      <th>Users</th>
      <th>General media</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.currentStatus %></td>
        <td><%= score.favorite %></td>
        <td><%= score.comments %></td>
        <td><%= score.source %></td>
        <td><%= score.replay %></td>
        <td><%= score.users_id %></td>
        <td><%= score.general_media_id %></td>
        <td><%= link_to 'Show', score %></td>
        <td><%= link_to 'Edit', edit_score_path(score) %></td>
        <td><%= link_to 'Destroy', score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>
