<p id="notice"><%= notice %></p>
    <% if user_signed_in? %>
     <%= render "static_pages/header.html" %>
    <% end %>
<div class = "well">
<h1>Magazines</h1>

<% if @magazines.any? then %>
      <%= render :partial => 'table_setup' %>
      <th>Name</th>
      <th>Issue #</th>
      <%= render :partial => 'common_params' %>
      <th colspan = "3"></th>
    </tr>
  </thead>

  <tbody>
    <% @magazines.each do |magazine_entry| %>
      <tr>
        <td><%= link_to 'Edit', {:controller => "static_pages", :action => "editMedia",:chooseSelect => "magazine_form", :name => magazine_entry.name, :issue => magazine_entry.magazine.issue, :general => magazine_entry.personal_media_parameters.first.as_json, :mediaId => magazine_entry.id } %></td>
        <td><%= magazine_entry.name%></td>
        <td><%= magazine_entry.magazine.issue %></td>
        <%= render :partial => 'media_object', :object => magazine_entry %>
        <td><%= link_to :controller => "static_pages", :action => "deleteMedia", :deleteId => magazine_entry.id, :deleteWhich => "magazine_form" do%>
          <button type = "button" class = "close" aria-label = "Close" style="color:red"%><span aria-hidden = "true">&times;</span> </button><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <p> You don't have any magazines! Add some here: <%= link_to 'Add Magazines', '../static_pages/addMedia' %><p>
<% end %>
<br>
</div>
