<p id="notice"><%= notice %></p>

<h1>Magazines</h1>

<% if @magazines.any? then %>
      <%= render :partial => 'table_setup' %>
      <th>Name</th>
      <th>Issue #</th>
      <%= render :partial => 'common_params' %>
      <th colspan = "3"></th>
    </tr>
  </thead>

  <tbody>
    <% @magazines.each do |magazine_entry| %>
      <tr>
        <td><%= link_to 'Edit', 'static_pages/addMedia' %></td>
        <td><%= magazine_entry.name%></td>
        <td><%= magazine_entry.magazine.issue %></td>
        <%= render :partial => 'media_object', :object => magazine_entry %>
        <th>re-reads</th>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <p> You don't have any magazines! Add some here: <%= link_to 'Add Magazines', '../static_pages/addMedia' %><p>
<% end %>
<br>
