<p id="notice"><%= notice %></p>

<h1>Custom Media</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>General medias</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @custom_media.each do |custom_medium| %>
      <tr>
        <td><%= custom_medium.typeOfMedia %></td>
        <td><%= custom_medium.general_media_id %></td>
        <td><%= link_to 'Show', custom_medium %></td>
        <td><%= link_to 'Edit', 'static_pages/editMedia' %></td>
        <td><%= link_to 'Destroy', custom_medium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Custom Medium', "static_pages/addMedia" %>
