<p id="notice"><%= notice %></p>
    <% if user_signed_in? %>
     <%= render "static_pages/header.html" %>
    <% end %>
<div class = "well">
<h3 class = "jumbotron">Custom Media </h3>
<% if @custom_media.any? then %>
<% @custom_media.each do |custom_media_entry| %>
  <h3><%= custom_media_entry.custom_medium.typeOfMedia%></h3>
    <%= render :partial => 'table_setup' %>
    <th>Name</th>
    <% custom_media_entry.custom_medium.custom_media_entries.each do |custom_media_param| %>
     <th> <%= custom_media_param.key %> </th>
    <% end %>
    <%= render :partial => 'common_params' %>
    <th>Repeats</th>
    <th colspan = "3"></th>
  </tr>
 </thead>

<tbody>
      <tr>
        <!-- Created small errors, is used to edit the media similar to other ones.
        <!-- <td></%= link_to 'Edit', {:controller => "static_pages", :action => "editMedia",:chooseSelect => "custom_form", :name => custom_media_entry.name, :general => custom_media_entry.personal_media_parameters.first.as_json, :typeOfMedia => custom_media_entry.custom_medium.typeOfMedia, :mediaId => custom_media_entry.personal_media_parameters.general_media_id } %></td> -->
        <td><%=custom_media_entry.name%>
          <% custom_media_entry.custom_medium.custom_media_entries.each do |custom_media_param| %>
            <td><%=custom_media_param.value%></td>
          <%end%>
          <%= render :partial => 'media_object', :object => custom_media_entry %>
          <td><%= link_to :controller => "static_pages", :action => "deleteMedia", :deleteId => custom_media_entry.id, :deleteWhich => "custom_form" do%>
            <button type = "button" class = "close" aria-label = "Close" style="color:red"%><span aria-hidden = "true">&times;</span> </button><% end %></td>
        </tr>
      </tr>
    </tbody>
</table>

<% end %>

<%else%>
    <p> You don't have any custom media! Add some here: <%= link_to 'Add Custom Media', '../static_pages/addMedia' %><p>
<% end %>
<br>
</div>
