<p id="notice"><%= notice %></p>
    <% if user_signed_in? %>
     <%= render "static_pages/header.html" %>
    <% end %>
<div class = "well">
<h3 class = "jumbotron">Custom Media </h3>
<% if @custom_media.any? then %>
<% @custom_media.each do |custom_media_entry| %>
  <h3><%= custom_media_entry.custom_medium.typeOfMedia%></h3>
    <%= render :partial => 'table_setup' %>
    <th>Name</th>
    <% custom_media_entry.custom_medium.custom_media_entries.each do |custom_media_param| %>
     <th> <%= custom_media_param.key %> </th>
    <% end %>
    <%= render :partial => 'common_params' %>
    <th>Repeats</th>
    <th colspan = "3"></th>
  </tr>
 </thead>

<tbody>
      <tr>
        <td><%= link_to 'Edit', 'static_pages/addMedia' %></td>
        <td><%=custom_media_entry.name%>
          <% custom_media_entry.custom_medium.custom_media_entries.each do |custom_media_param| %>
            <td><%=custom_media_param.value%></td>
          <%end%>
          <%= render :partial => 'media_object', :object => custom_media_entry %>
      </tr>
    </tbody>
</table>

<% end %>

<%else%>
    <p> You don't have any custom media! Add some here: <%= link_to 'Add Custom Media', '../static_pages/addMedia' %><p>
<% end %>
<br>
</div>
