<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @custom_medium.type %>
</p>

<p>
  <strong>General medias:</strong>
  <%= @custom_medium.general_medias %>
</p>

<%= link_to 'Edit', edit_custom_medium_path(@custom_medium) %> |
<%= link_to 'Back', custom_media_path %>
