<!--
Date of Creation: 11/25/18
Author: Birkan Gokbag
Description: Partial form for adding books
-->

<!-- Get all the information relevant to book media -->
<%= form_tag("form",:method => :post, :id => "book_form", :name => "book_form", :style => "display:none") do %>

<!-- General Stuff -->
<div class="field">
  <label>Enter Name of the Book:</label>
  <input type="text" name="name" id="name" required>
  <!--  </%= text_field_tag(:name) %>-->
</div>

<div class="field">
  <label>Enter Score:</label>
  <%= number_field(:score, :temp, in: 1..10) %>
</div>

<div class="field">
  <label>Enter the Status of the Book:</label>
  <%= text_field_tag(:currentStatus) %>
</div>

<div class="field">
  <label>Would You Like to Favorite It?</label>
  <%= check_box_tag(:favorite) %>
</div>

<div class="field">
  <label>Enter Comments:</label>
  <%= text_area_tag(:comments) %>
</div>

<div class="field">
  <label>Enter the source of the Book:</label>
  <%= text_field_tag(:source) %>
</div>

<div class="field">
  <label>Enter the Amount of Time You Have Read This:</label>
  <%= number_field(:replay, :temp, in: 0..100000) %>
</div>

  <!-- Special Parameters for Book-->
  <div class="field">
    <label>Enter the Author of This Book:</label>
    <input type="text" name="author" id="author" required>
  <!--  </%= text_field_tag(:author) %>-->
  </div>

  <div class="field">
    <%= submit_tag "Submit Book Media" %>
  </div>

<% end %>
