<!--
Date of Creation: 11/25/18
Author: Birkan Gokbag
Description: Partial form for adding tv shows
-->

<!-- Get all the information relevant to tv -->
<%= form_tag("form",:method => :post, :id => "tv_form", :name => "tv_form", :style => "display:none") do %>

  <!-- General Stuff -->
  <div class="field">
    <label>Enter Name of the TV Show:</label>
    <%= text_field_tag(:name) %>
  </div>

  <div class="field">
    <label>Enter Score:</label>
    <%= number_field(:score, :temp, in: 1..10) %>
  </div>

  <div class="field">
    <label>Enter the Status of the TV Show:</label>
    <%= text_field_tag(:currentStatus) %>
  </div>

  <div class="field">
    <label>Would You Like to Favorite It?</label>
    <%= check_box_tag(:favorite) %>
  </div>

  <div class="field">
    <label>Enter Comments:</label>
    <%= text_area_tag(:comments) %>
  </div>

  <div class="field">
    <label>Enter the source of the TV Show:</label>
    <%= text_field_tag(:source) %>
  </div>

  <div class="field">
    <label>Enter the Amount of Time You Have Replayed This:</label>
    <%= number_field(:replay, :temp, in: 0..100000) %>
  </div>

  <!-- Special Parameters for TV-->
  <div class="field">
    <label>Enter the Number of Seasons of The TV Show:</label>
    <%= number_field(:numberOfSeasons, :temp, in: 0..100000) %>
  </div>
  <div class="field">
    <label>Enter the Number of Episodes This TV Show Has:</label>
    <%= number_field(:totalEpisodes, :temp, in: 0..100000) %>
  </div>

  <div class="field">
    <%= submit_tag "Submit TV Media" %>
  </div>

<% end %>
