<!--
Date of Creation: 11/25/18
Author: Birkan Gokbag
Description: Partial form for adding video game
-->

<!-- Get all the information relevant to movie media -->
<%= form_tag("form",:method => :post, :id => "video_game_form", :name => "video_game_form", :style => "display:none") do %>

<!-- General Stuff -->
<div class="field">
  <label>Enter Name of the Video Game:</label>
  <%= text_field_tag(:name) %>
</div>

<div class="field">
  <label>Enter Score:</label>
  <%= number_field(:score, :temp, in: 1..10) %>
</div>

<div class="field">
  <label>Enter the Status of the Video Game:</label>
  <%= text_field_tag(:currentStatus) %>
</div>

<div class="field">
  <label>Would You Like to Favorite It?</label>
  <%= check_box_tag(:favorite) %>
</div>

<div class="field">
  <label>Enter Comments:</label>
  <%= text_area_tag(:comments) %>
</div>

<div class="field">
  <label>Enter the source of the Video Game:</label>
  <%= text_field_tag(:source) %>
</div>

<div class="field">
  <label>Enter the Amount of Time You Have Played This:</label>
  <%= number_field(:replay, :temp, in: 0..100000) %>
</div>

  <!-- Special Parameters for Video Game-->
  <div class="field">
    <label>Enter the Studio That Published This Game:</label>
    <%= text_field_tag(:studio) %>
  </div>

  <div class="field">
    <label>Enter the System That This Game Is You Want/Playing On:</label>
    <%= text_field_tag(:system) %>
  </div>

  <div class="field">
    <%= submit_tag "Submit Video Game Media" %>
  </div>

<% end %>
