<div id = "container">
  <div id = "header">
    <h1>Add Media</h1>
  </div>
  <div id = "main">
    <div id = "mainArea">
      <h3>What Media would you like to add?</h3>
      <form>
        <select class="form-control" id = "select_form">
          <option disabled selected>Select An Option</option>
          <option value="tv_form">TV Show</option>
          <option value="music_form">Music</option>
          <option value="movie_form">Movie</option>
          <option value="magazine_form">Magazine</option>
          <option value="book_form">Book</option>
          <option value="video_game_form">Video Game</option>
          <option value="custom_form">Custom</option>
        </select>
      </form>
<!-- style = "display:none" -->
      <!-- <form class="well form-horizontal" action="/personal_media_parameters" method="post" style = "display:none" name = "tv_form" id = "tv_form">
        <label>Name of Media:</label>
        <input type="text" placeholder = "Enter here" required>
        <label>Enter the Score:</label>
        <label> Score (1 to 10):</label>
        <input type="number" min = "1" max = "10" placeholder = "1">
        <label>Current Status:</label>
        <input type="text" placeholder = "In Completion of This Media" required>
        <label>Favorite:</label>
        <input type="checkbox">
        <label>Comments:</label>
        <textarea placeholder="If you have any notes to add."></textarea>
        <label>Source:</label>
        <input type="text" placeholder="Enter the source of the media here">
        <label>Replay (Are you tracking this again?):</label>
        <input type="checkbox">

        <label> Number of Seasons The Show Has:</label>
        <input type="number" placeholder = "1" min = "1" required>
        <label> Total Number of Episodes The Show Has:</label>
        <input type="number" placeholder = "12" min = "1" required>

        <input type="submit">
      </form> -->

      <%= form_for :personal_media_parameters, :html => {:id => "tv_form", :name => "tv_form", :style => "display:none", :role => "form"} do |form| %>
        <div class="field">
        <%= form.label :score %>
        <%= form.number_field :score, id: :personal_media_parameter_score %>
        </div>
        <div class="field">
        <%= form.label :currentStatus %>
        <%= form.text_field :currentStatus, id: :personal_media_parameter_currentStatus %>
        </div>
        <div class="field">
        <%= form.label :favorite %>
        <%= form.check_box :favorite, id: :personal_media_parameter_favorite %>
        </div>
        <div class="field">
        <%= form.label :comments %>
        <%= form.text_area :comments, id: :personal_media_parameter_comments %>
        </div>
        <div class="field">
        <%= form.label :source %>
        <%= form.text_field :source, id: :personal_media_parameter_source %>
        </div>
        <div class="field">
        <%= form.label :replay %>
        <%= form.number_field :replay, id: :personal_media_parameter_replay %>
        </div>


        <div style = "display:hidden">
          <%= form.label :users_id %>
          <%= form.text_field :users_id, id: :personal_media_parameter_users_id, :value => session[:current_user_id] %>
        </div>
        <!-- <div class = "display:hidden">
          </%= form.label :general_medias_id %>
          </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
        </div> -->

          <%= form.fields_for :tv_shows do |f| %>
          <div class="field">
            <%= f.label :numberOfSeasons %>
            <%= f.number_field :numberOfSeasons, id: :tv_show_numberOfSeasons %>
          </div>
          <div class="field">
            <%= f.label :totalEpisodes %>
            <%= f.number_field :totalEpisodes, id: :tv_show_totalEpisodes %>
          </div>
          <!--
          <div class="field">
            </%= form.label :general_medias_id %>
            </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
          </div> -->
          <% end %>

        <div class="actions">
        <%= form.submit %>
        </div>

      <% end %>




      <!-- <form class="well form-horizontal" action="../personal_media_parameters" method="post" style = "display:none" name = "music_form" id = "music_form">
        <label>Name of Media:</label>
        <input type="text" placeholder = "Enter here" required>
        <label>Enter the Score:</label>
        <label> Score (1 to 10):</label>
        <input type="number" min = "1" max = "10" placeholder = "1">
        <label>Current Status:</label>
        <input type="text" placeholder = "In Completion of This Media" required>
        <label>Favorite:</label>
        <input type="checkbox">
        <label>Comments:</label>
        <textarea placeholder="If you have any notes to add."></textarea>
        <label>Source:</label>
        <input type="text" placeholder="Enter the source of the media here">
        <label>Replay (Are you tracking this again?):</label>
        <input type="checkbox">

        <label> Album This Song Belongs To:</label>
        <input type="text" placeholder = "Album Name" required>
        <label> Artist of the Song:</label>
        <input type="text" placeholder = "Artist Name" required>

        <input type="submit">
      </form>-->

      <%= form_for :personal_media_parameters, :html => {:id => "music_form", :name => "music_form", :style => "display:none", :role => "form"} do |form| %>
        <div class="field">
        <%= form.label :score %>
        <%= form.number_field :score, id: :personal_media_parameter_score %>
        </div>
        <div class="field">
        <%= form.label :currentStatus %>
        <%= form.text_field :currentStatus, id: :personal_media_parameter_currentStatus %>
        </div>
        <div class="field">
        <%= form.label :favorite %>
        <%= form.check_box :favorite, id: :personal_media_parameter_favorite %>
        </div>
        <div class="field">
        <%= form.label :comments %>
        <%= form.text_area :comments, id: :personal_media_parameter_comments %>
        </div>
        <div class="field">
        <%= form.label :source %>
        <%= form.text_field :source, id: :personal_media_parameter_source %>
        </div>
        <div class="field">
        <%= form.label :replay %>
        <%= form.number_field :replay, id: :personal_media_parameter_replay %>
        </div>


        <div style = "display:hidden">
          <%= form.label :users_id %>
          <%= form.text_field :users_id, id: :personal_media_parameter_users_id, :value => session[:current_user_id] %>
        </div>
        <!-- <div class = "display:hidden">
          </%= form.label :general_medias_id %>
          </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
        </div> -->

          <%= form.fields_for :musics do |f| %>
          <div class="field">
            <%= f.label :artist %>
            <%= f.number_field :artist, id: :music_artist %>
          </div>
          <div class="field">
            <%= f.label :album %>
            <%= f.number_field :album, id: :music_album %>
          </div>
          <!--
          <div class="field">
            </%= form.label :general_medias_id %>
            </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
          </div> -->
          <% end %>

        <div class="actions">
        <%= form.submit %>
        </div>

      <% end %>

      <!--<form class="well form-horizontal" action="../personal_media_parameters" method="post" style = "display:none" name = "movie_form" id = "movie_form">
        <label>Name of Media:</label>
        <input type="text" placeholder = "Enter here" required>
        <label>Enter the Score:</label>
        <label> Score (1 to 10):</label>
        <input type="number" min = "1" max = "10" placeholder = "1">
        <label>Current Status:</label>
        <input type="text" placeholder = "In Completion of This Media" required>
        <label>Favorite:</label>
        <input type="checkbox">
        <label>Comments:</label>
        <textarea placeholder="If you have any notes to add."></textarea>
        <label>Source:</label>
        <input type="text" placeholder="Enter the source of the media here">
        <label>Replay (Are you tracking this again?):</label>
        <input type="checkbox">

        <label> Director:</label>
        <input type="number" placeholder = "Director Name" required>

        <input type="submit">
      </form> -->

      <%= form_for :personal_media_parameters, :html => {:id => "movie_form", :name => "movie_form", :style => "display:none", :role => "form"} do |form| %>
        <div class="field">
        <%= form.label :score %>
        <%= form.number_field :score, id: :personal_media_parameter_score %>
        </div>
        <div class="field">
        <%= form.label :currentStatus %>
        <%= form.text_field :currentStatus, id: :personal_media_parameter_currentStatus %>
        </div>
        <div class="field">
        <%= form.label :favorite %>
        <%= form.check_box :favorite, id: :personal_media_parameter_favorite %>
        </div>
        <div class="field">
        <%= form.label :comments %>
        <%= form.text_area :comments, id: :personal_media_parameter_comments %>
        </div>
        <div class="field">
        <%= form.label :source %>
        <%= form.text_field :source, id: :personal_media_parameter_source %>
        </div>
        <div class="field">
        <%= form.label :replay %>
        <%= form.number_field :replay, id: :personal_media_parameter_replay %>
        </div>


        <div style = "display:hidden">
          <%= form.label :users_id %>
          <%= form.text_field :users_id, id: :personal_media_parameter_users_id, :value => session[:current_user_id] %>
        </div>
        <!-- <div class = "display:hidden">
          </%= form.label :general_medias_id %>
          </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
        </div> -->

          <%= form.fields_for :movies do |f| %>
          <div class="field">
            <%= f.label :director %>
            <%= f.text_field :director, id: :movie_director %>
          </div>
          <!--
          <div class="field">
            </%= form.label :general_medias_id %>
            </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
          </div> -->
          <% end %>

        <div class="actions">
        <%= form.submit %>
        </div>

      <% end %>

    <!--  <form class="well form-horizontal" action="../personal_media_parameters" method="post" style = "display:none" name = "magazine_form" id = "magazine_form">
        <label>Name of Media:</label>
        <input type="text" placeholder = "Enter here" required>
        <label>Enter the Score:</label>
        <label> Score (1 to 10):</label>
        <input type="number" min = "1" max = "10" placeholder = "1">
        <label>Current Status:</label>
        <input type="text" placeholder = "In Completion of This Media" required>
        <label>Favorite:</label>
        <input type="checkbox">
        <label>Comments:</label>
        <textarea placeholder="If you have any notes to add."></textarea>
        <label>Source:</label>
        <input type="text" placeholder="Enter the source of the media here">
        <label>Replay (Are you tracking this again?):</label>
        <input type="checkbox">

        <label> Issue Number:</label>
        <input type="number" placeholder = "1" min = "1" required>

        <input type="submit">
      </form> -->

      <%= form_for :personal_media_parameters, :html => {:id => "magazine_form", :name => "magazine_form", :style => "display:none", :role => "form"} do |form| %>
        <div class="field">
        <%= form.label :score %>
        <%= form.number_field :score, id: :personal_media_parameter_score %>
        </div>
        <div class="field">
        <%= form.label :currentStatus %>
        <%= form.text_field :currentStatus, id: :personal_media_parameter_currentStatus %>
        </div>
        <div class="field">
        <%= form.label :favorite %>
        <%= form.check_box :favorite, id: :personal_media_parameter_favorite %>
        </div>
        <div class="field">
        <%= form.label :comments %>
        <%= form.text_area :comments, id: :personal_media_parameter_comments %>
        </div>
        <div class="field">
        <%= form.label :source %>
        <%= form.text_field :source, id: :personal_media_parameter_source %>
        </div>
        <div class="field">
        <%= form.label :replay %>
        <%= form.number_field :replay, id: :personal_media_parameter_replay %>
        </div>


        <div style = "display:hidden">
          <%= form.label :users_id %>
          <%= form.text_field :users_id, id: :personal_media_parameter_users_id, :value => session[:current_user_id] %>
        </div>
        <!-- <div class = "display:hidden">
          </%= form.label :general_medias_id %>
          </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
        </div> -->

          <%= form.fields_for :magazines do |f| %>
          <div class="field">
            <%= f.label :issue %>
            <%= f.number_field :issue, id: :magazine_issue %>
          </div>
          <!--
          <div class="field">
            </%= form.label :general_medias_id %>
            </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
          </div> -->
          <% end %>

        <div class="actions">
        <%= form.submit %>
        </div>

      <% end %>

      <!--<form class="well form-horizontal" action="../personal_media_parameters" method="post" style = "display:none" name = "book_form" id = "book_form">
        <label>Name of Media:</label>
        <input type="text" placeholder = "Enter here" required>
        <label>Enter the Score:</label>
        <label> Score (1 to 10):</label>
        <input type="number" min = "1" max = "10" placeholder = "1">
        <label>Current Status:</label>
        <input type="text" placeholder = "In Completion of This Media" required>
        <label>Favorite:</label>
        <input type="checkbox">
        <label>Comments:</label>
        <textarea placeholder="If you have any notes to add."></textarea>
        <label>Source:</label>
        <input type="text" placeholder="Enter the source of the media here">
        <label>Replay (Are you tracking this again?):</label>
        <input type="checkbox">

        <label> Author:</label>
        <input type="text" placeholder = "Author Name" required>

        <input type="submit">
      </form> -->

      <%= form_for :personal_media_parameters, :html => {:id => "book_form", :name => "book_form", :style => "display:none", :role => "form"} do |form| %>
        <div class="field">
        <%= form.label :score %>
        <%= form.number_field :score, id: :personal_media_parameter_score %>
        </div>
        <div class="field">
        <%= form.label :currentStatus %>
        <%= form.text_field :currentStatus, id: :personal_media_parameter_currentStatus %>
        </div>
        <div class="field">
        <%= form.label :favorite %>
        <%= form.check_box :favorite, id: :personal_media_parameter_favorite %>
        </div>
        <div class="field">
        <%= form.label :comments %>
        <%= form.text_area :comments, id: :personal_media_parameter_comments %>
        </div>
        <div class="field">
        <%= form.label :source %>
        <%= form.text_field :source, id: :personal_media_parameter_source %>
        </div>
        <div class="field">
        <%= form.label :replay %>
        <%= form.number_field :replay, id: :personal_media_parameter_replay %>
        </div>


        <div style = "display:hidden">
          <%= form.label :users_id %>
          <%= form.text_field :users_id, id: :personal_media_parameter_users_id, :value => session[:current_user_id] %>
        </div>
        <!-- <div class = "display:hidden">
          </%= form.label :general_medias_id %>
          </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
        </div> -->

          <%= form.fields_for :books do |f| %>
          <div class="field">
            <%= f.label :author %>
            <%= f.text_field :author, id: :book_author %>
          </div>
          <!--
          <div class="field">
            </%= form.label :general_medias_id %>
            </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
          </div> -->
          <% end %>

        <div class="actions">
        <%= form.submit %>
        </div>

      <% end %>

    <!--  <form class="well form-horizontal" action="../personal_media_parameters" method="post" style = "display:none" name = "video_game_form" id = "video_game_form">
        <label>Name of Media:</label>
        <input type="text" placeholder = "Enter here" required>
        <label>Enter the Score:</label>
        <label> Score (1 to 10):</label>
        <input type="number" min = "1" max = "10" placeholder = "1">
        <label>Current Status:</label>
        <input type="text" placeholder = "In Completion of This Media" required>
        <label>Favorite:</label>
        <input type="checkbox">
        <label>Comments:</label>
        <textarea placeholder="If you have any notes to add."></textarea>
        <label>Source:</label>
        <input type="text" placeholder="Enter the source of the media here">
        <label>Replay (Are you tracking this again?):</label>
        <input type="checkbox">

        <label> Studio:</label>
        <input type="text" placeholder = "Studio Name" required>
        <label> System:</label>
        <input type="text" placeholder = "System Name" required>

        <input type="submit">
      </form> -->

      <%= form_for :personal_media_parameters, :html => {:id => "video_game_form", :name => "video_game_form", :style => "display:none", :role => "form"} do |form| %>
        <div class="field">
        <%= form.label :score %>
        <%= form.number_field :score, id: :personal_media_parameter_score %>
        </div>
        <div class="field">
        <%= form.label :currentStatus %>
        <%= form.text_field :currentStatus, id: :personal_media_parameter_currentStatus %>
        </div>
        <div class="field">
        <%= form.label :favorite %>
        <%= form.check_box :favorite, id: :personal_media_parameter_favorite %>
        </div>
        <div class="field">
        <%= form.label :comments %>
        <%= form.text_area :comments, id: :personal_media_parameter_comments %>
        </div>
        <div class="field">
        <%= form.label :source %>
        <%= form.text_field :source, id: :personal_media_parameter_source %>
        </div>
        <div class="field">
        <%= form.label :replay %>
        <%= form.number_field :replay, id: :personal_media_parameter_replay %>
        </div>


        <div style = "display:hidden">
          <%= form.label :users_id %>
          <%= form.text_field :users_id, id: :personal_media_parameter_users_id, :value => session[:current_user_id] %>
        </div>
        <!-- <div class = "display:hidden">
          </%= form.label :general_medias_id %>
          </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
        </div> -->

          <%= form.fields_for :video_games do |f| %>
          <div class="field">
            <%= form.label :studio %>
            <%= form.text_field :studio, id: :video_game_studio %>
          </div>

          <div class="field">
            <%= form.label :system %>
            <%= form.text_field :system, id: :video_game_system %>
          </div>
          <!--
          <div class="field">
            </%= form.label :general_medias_id %>
            </%= form.text_field :general_medias_id, id: :personal_media_parameter_general_medias_id %>
          </div> -->
          <% end %>

        <div class="actions">
        <%= form.submit %>
        </div>

      <% end %>

      <form class="well form-horizontal" action="../personal_media_parameters" method="post" style = "display:none" name = "custom_form" id = "custom_form">
        <label> Please enter the number of custom fields would you like to add?</label>
        <input id = "number_of_items" type="number" min = "1" max = "10" placeholder = "0">
        <input style = "display:none" class = "1" type = "text" placeholder= "Enter Field 1">
        <input style = "display:none" class = "1" type = "text" placeholder= "Enter Field 1 Value">
        <input style = "display:none" class = "2" type = "text" placeholder= "Enter Field 2">
        <input style = "display:none" class = "2" type = "text" placeholder= "Enter Field 2 Value">
        <input style = "display:none" class = "3" type = "text" placeholder= "Enter Field 3">
        <input style = "display:none" class = "3" type = "text" placeholder= "Enter Field 3 Value">
        <input style = "display:none" class = "4" type = "text" placeholder= "Enter Field 4">
        <input style = "display:none" class = "4" type = "text" placeholder= "Enter Field 4 Value">
        <input style = "display:none"class = "5" type = "text" placeholder= "Enter Field 5">
        <input style = "display:none" class = "5" type = "text" placeholder= "Enter Field 5 Value">
        <input style = "display:none" class = "6" type = "text" placeholder= "Enter Field 6">
        <input style = "display:none" class = "6" type = "text" placeholder= "Enter Field 6 Value">
        <input style = "display:none" class = "7" type = "text" placeholder= "Enter Field 7">
        <input style = "display:none" class = "7" type = "text" placeholder= "Enter Field 7 Value">
        <input style = "display:none" class = "8" type = "text" placeholder= "Enter Field 8">
        <input style = "display:none" class = "8" type = "text" placeholder= "Enter Field 8 Value">
        <input style = "display:none" class = "9" type = "text" placeholder= "Enter Field 9">
        <input style = "display:none" class = "9" type = "text" placeholder= "Enter Field 9 Value">
        <input style = "display:none" class = "10" type = "text" placeholder= "Enter Field 10">
        <input style = "display:none" class = "10" type = "text" placeholder= "Enter Field 10 Value">

        <input type="submit">
      </form>
      <script>
        var prev = "";
        $("#select_form").on("change", function() {
            //based on what is selected, only show that form
            if (prev != 0){
              $(prev).hide();
            }
            $("#" + $(this).val()).show();
            prev = "#" + $(this).val();
        });
        $("#number_of_items").on("change", function() {
            //based on what is selected, only show that form
            var last = $(this).val();
            var i = 0;
            for (i = 1; i <= last; i++){
              $("." + i).show();
              $("." + i).prop('required',true);
            }
            for (i = 10; i > last; i--){
              $("." + i).hide();
              $("." + i).prop('required',false);
            }
        });
      </script>
    </div>
  </div>
</div>
