<!--
Date of Creation: 11/25/18
Author: Birkan Gokbag
Description: Form to Add All Sorts of Media
-->

<div id = "container">
  <div class = "well">
      <h3 class = "jumbotron">Add Media</h3>
      <h3>What Media would you like to add?</h3>
      <form>
        <!-- value = </%= params[:chooseSelect]%> -->
        <select class="form-control" id = "select_form" >
          <option disabled selected>Select An Option</option>
          <option value="tv_form">TV Show</option>
          <option value="music_form">Music</option>
          <option value="movie_form">Movie</option>
          <option value="magazine_form">Magazine</option>
          <option value="book_form">Book</option>
          <option value="video_game_form">Video Game</option>
          <option value="custom_form">Custom</option>
        </select>
      </form>

<%= render "tv_form.html" %>
<%= render "music_form.html" %>
<%= render "movie_form.html" %>
<%= render "magazine_form.html" %>
<%= render "book_form.html" %>
<%= render "video_game_form.html" %>
<%= render "custom_form.html" %>

      <script>
        var prev = "";
        $("#select_form").on("change", function() {
            //based on what is selected, only show that form
            if (prev != 0){
              $(prev).hide();
            }
            console.log($(this).val());
            $("#" + $(this).val()).show();
            prev = "#" + $(this).val();
        });
      </script>
  </div>
</div>
