<!--
Date of Creation: 11/25/18
Author: Birkan Gokbag
Description: Form to Edit All Sorts of Media
-->

<% if user_signed_in? %>
  <%= render "header.html" %>
<% end %>
<div id = "container" class = "editMedia">
  <div class = "well">
      <h3 class = "jumbotron">Edit Media</h3>
      <h3>Enter The New Information For The Media</h3>

<%= render "tv_form.html" %>
<%= render "music_form.html" %>
<%= render "movie_form.html" %>
<%= render "magazine_form.html" %>
<%= render "book_form.html" %>
<%= render "video_game_form.html" %>
<%= render "custom_form.html" %>



      <script>
        // This is done to prefill the form when the user is trying to edit the form

        // Show the particular form
        $("#" + "<%= params[:chooseSelect]%>").show();

        //Proceed to fill the form
        $("#<%= params[:chooseSelect]%> #name").val("<%= params[:name]%>");
        $("#<%= params[:chooseSelect]%> #score_temp").val("<%= params[:general][:score]%>");
        $("#<%= params[:chooseSelect]%> #currentStatus").val("<%= params[:general][:currentStatus]%>");
        if ("<%= params[:general][:favorite]%>" == "true"){
          $("#<%= params[:chooseSelect]%> #favorite").attr('checked',true);
        }
        $("#<%= params[:chooseSelect]%> #comments").val("<%= params[:general][:comments]%>");
        $("#<%= params[:chooseSelect]%> #source").val("<%= params[:general][:source]%>");
        $("#<%= params[:chooseSelect]%> #replay_temp").val("<%= params[:general][:replay]%>");

        //Proceed to fill the unique parameters
        switch ("<%= params[:chooseSelect]%>"){
          case "movie_form":
            $("#<%= params[:chooseSelect]%> #director").val("<%= params[:director]%>");
            break;
          case "tv_form":
            $("#<%= params[:chooseSelect]%> #numberOfSeasons_temp").val("<%= params[:numberOfSeasons]%>");
            $("#<%= params[:chooseSelect]%> #totalEpisodes_temp").val("<%= params[:totalEpisodes]%>");
            break;
          case "music_form":
          $("#<%= params[:chooseSelect]%> #artist").val("<%= params[:artist]%>");
          $("#<%= params[:chooseSelect]%> #album").val("<%= params[:album]%>");
            break;
          case "magazine_form":
          $("#<%= params[:chooseSelect]%> #issue_temp").val("<%= params[:issue]%>");
            break;
          case "book_form":
            $("#<%= params[:chooseSelect]%> #author").val("<%= params[:author]%>");
            break;
          case "video_game_form":
          $("#<%= params[:chooseSelect]%> #studio").val("<%= params[:studio]%>");
          $("#<%= params[:chooseSelect]%> #system").val("<%= params[:system]%>");
            break;
          case "custom_form":

            break;
          default:
            //This should never happen
        }

        //Store the edit to submit the media id in order to update it.
        $("#main #editId").val("<%= params[:mediaId]%>");

      </script>
  </div>
</div>
