<div id = "container" class = "editMedia">
  <div id = "header">
    <h1>Edit Media</h1>
  </div>
  <div id = "main">
    <div id = "mainArea">
      <h3>Enter The New Information For The Media</h3>
      <form>
        <!-- value = </%= params[:chooseSelect]%> -->
        <!-- <select class="form-control" id = "select_form" >
          <option disabled selected>Select An Option</option>
          <option value="tv_form">TV Show</option>
          <option value="music_form">Music</option>
          <option value="movie_form">Movie</option>
          <option value="magazine_form">Magazine</option>
          <option value="book_form">Book</option>
          <option value="video_game_form">Video Game</option>
          <option value="custom_form">Custom</option>
        </select>
      </form> -->

<%= render "tv_form.html" %>
<%= render "music_form.html" %>
<%= render "movie_form.html" %>
<%= render "magazine_form.html" %>
<%= render "book_form.html" %>
<%= render "video_game_form.html" %>
<%= render "custom_form.html" %>

      <script>
        // This is done to prefill the form when the user is trying to edit the form

        console.log("<%= params[:book_author]%>");
        console.log("book_form");

        // document.getElementById("select_form").value = "</%= params[:chooseSelect]%>";
        $("#" + "<%= params[:chooseSelect]%>").show();
        // $("#select_form").prop("disabled", true);
        $("#<%= params[:chooseSelect]%> #name").val("<%= params[:name]%>");
        $("#<%= params[:chooseSelect]%> #score_temp").val("<%= params[:general][:score]%>");
        $("#<%= params[:chooseSelect]%> #currentStatus").val("<%= params[:general][:currentStatus]%>");
        if ("<%= params[:general][:favorite]%>" == "true"){
          $("#<%= params[:chooseSelect]%> #favorite").attr('checked',true);
        }
        $("#<%= params[:chooseSelect]%> #comments").val("<%= params[:general][:comments]%>");
        $("#<%= params[:chooseSelect]%> #source").val("<%= params[:general][:source]%>");
        $("#<%= params[:chooseSelect]%> #replay_temp").val("<%= params[:general][:replay]%>");

        switch ("<%= params[:chooseSelect]%>"){
          case "movie_form":

            break;
          case "tv_form":

            break;
          case "music_form":

            break;
          case "magazine_form":

            break;
          case "book_form":
            $("#<%= params[:chooseSelect]%> #author").val("<%= params[:book_author]%>");
            break;
          case "video_game_form":

            break;
          case "custom_form":

            break;
          default:

        }

      </script>
    </div>
  </div>
</div>
