<div id = "container">
  
  <% if user_signed_in? %>
    <%= render "header.html" %>
    <%= render "search_form.html" %>
  <% end %>
  <div id = "main">
    <div id = "mainArea">
      <h3>Track Your Media Collection</h3>
      <ul>
        <li>See your every media element in one place</li>
        <li>Custom entries support every media element</li>
        <li>Customize the look of your profile</li>
      </ul>
    </div>
    <% if user_signed_in? %>
      <div id = "latestUpdates">
        <h3>Followers</h3>
        <% for i in 1..@limitb do%>
          <div class = "followers">
            <p class = "follower"><%= @user.find(@follower[i].id).username %></p>
          </div>
        <% end %>
      </div>
    <% else %>
      <div id = "latestUpdates">
        <h3>Latest Updates</h3>
        <% for i in 1..@limita do%>
          <div class = "history">
            <p><%= @historylog[@historylength - i].users.username + @historylog[@historylength - i].historyMessage %><%= @historylog[@historylength - i].created_at %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
