/*
Updated By: Berkay Kaplan: CSS and render header
*/
<div id = "container">
  <% if user_signed_in? %>
    <%= render "header.html" %>
  <% end %>
  <div class = "well">
    <h3 class = "jumbotron">Update Preferences</h3>
		<%= form_tag("preference_form",:method => :post, :id => "preference_form", :name => "preference_form") do %>

		<div class="field">
		  <label>Wallpaper of Your Media Page:</label>
		  <%= file_field_tag 'wallpaper', accept: 'image/png,image/gif,image/jpeg' %>
		</div>

		<div class="field">
		  <label>Font Size of your Page:</label>
		  <%= number_field(:fontSize, :temp, in: 5..50) %>
		</div>

		<div class="field">
		  <label>Font of Your Page:</label>
		  <%= text_field_tag(:font) %>
		</div>

		<div class="field">
		  <label>Profile Picture</label>
		  <%= file_field_tag 'profilePicture', accept: 'image/png,image/gif,image/jpeg' %></div>

		<div class="field">
		  <label>Would You Like To Be Set To Private?</label>
		  <%= check_box_tag(:privacy) %>
		</div>

		<div class="field">
		  <label>Font Color of Your Site:</label>
		  <%= text_field_tag(:fontColor) %>
		</div>

		  <div class="field">
		    <%= submit_tag "Update Preferences" %>
		  </div>

		<% end %>
  </div>
</div>
